[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/technomancy/rinari.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/technomancy/magit.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = https://github.com/anildigital/rspec-mode.git
[submodule "vendor/http-twiddle"]
	path = vendor/http-twiddle
	url = https://github.com/hassy/http-twiddle.git
