[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = https://github.com/anildigital/rspec-mode.git
[submodule "vendor/http-twiddle"]
	path = vendor/http-twiddle
	url = https://github.com/hassy/http-twiddle.git
[submodule "vendor/sass-mode"]
	path = vendor/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
